<!DOCTYPE html>

<!--The CustomLayout for LoginUI.java.-->

<table align="center" cellspacing="10"
	style="width: 100%; height: 100%; color:#f2eac0; padding: 20px;
	background:#711111">
	
	<tr>
		<td colspan="2">
		<h1 style="margin-top: 0; text-align:center;"
		>Login</h1>
		<td>
	</tr>
	
	<tr>
		<td align="right">CS Username:</td>
		<td>
		<div location="username"></div>
		</td>
	</tr>
	
	<tr>
		<td align="right">CS Password:</td>
		<td>
		<div location="password"></div>
		</td>
	</tr>
	
	<tr>
		<td align="right" colspan="2">
		<div location="login" style="padding: 10px;"></div>
		</td>
</table>