<!DOCTYPE html>

<!--The CustomLayout for FsudcUI.java.-->

<html>
<body>

<div id="container" style="background-color:#f2eac0; width:100%; height: 100%">

<div id="title">
<h1 style="margin-top:0; text-align:center; padding: 30px; font-size:40px;
font-family:Arial,Helvetica,sans-serif;">
FSU Digital Campus</h1></div>

<div id="space" style="height:70%;">
</div>

<div id="footer" style="clear:both;text-align:center; margin-bottom:0;">
Copyright © Students of the Web</div>
</div>
 
</body>
</html>

